<div class="home">
	<mat-card class="users-card">
	    <h1>Bem vindo, {{currentUser.firstName}}!</h1>
	    <h3>Lista de Usuários:</h3>
	    <table class="users-table">
	    	<tr>
	    		<th>Usuário</th>
	    		<th>Nome Completo</th>
	    		<th>Admin</th>
	    		<th></th>
	    	</tr>
	        <tr *ngFor="let user of users">
	            <td>{{user.username}}</td> 
	            <td>{{user.firstName}} {{user.lastName}}</td>
	            <td>{{(user.admin === true) ?  'Sim' : 'Não'}}</td>
	            <td class="center">
	            	<button mat-mini-fab (click)="deleteUser(user.id)" class="remove-button">
	            		<mat-icon>delete</mat-icon>
	            	</button>
	           	</td>
	        </tr>
	    </table>
	    <button mat-raised-button class="register-button" [routerLink]="['/register']">
	    	<mat-icon>person_add</mat-icon> Registrar
	    </button>
	    <button mat-raised-button class="exit-button" [routerLink]="['/login']">
	    	<mat-icon>exit_to_app</mat-icon> Sair
	    </button>
	</mat-card>	
</div>