.register-card{
	margin: 60px;
	padding: 30px;
}

.register-form{
	display: flex;
  	flex-direction: column;
}

.register-form-buttons{
	display: inline-block;
}

.register-button{
	width: 150px;
	background-color: #3f51b5;
	color: #fff;
	margin-right: 10px;
}

.cancel-button{
	width: 150px;
	margin-left: 10px;
}