<div class="register">
    <mat-card class="register-card">
	    <h2>Registro de Usuário</h2>
	    <form name="form" class="register-form" (ngSubmit)="register()" novalidate>
	    	<mat-form-field>
				<input matInput placeholder="Nome" type="text" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Sobrenome" type="text" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Usuário" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="password" placeholder="Senha" name="password" [(ngModel)]="model.password" #password="ngModel" required>
			</mat-form-field>
			<mat-checkbox *ngIf="admin" name="admin" [(ngModel)]="model.admin" #admin="ngModel">Admin</mat-checkbox>
			<div class="register-form-buttons">
				<button mat-raised-button class="register-button" [disabled]="loading"> 
	                <mat-icon>done</mat-icon> Salvar
	            </button>
	            <button mat-raised-button class="cancel-button" [routerLink]="['../']"> 
	                <mat-icon>cancel</mat-icon> Cancelar
	            </button>
	        </div>
	    </form>
	</mat-card>
</div>