<div class="login">
	<div class="login-container">
		<div class="login-header">
			<h2>Formulário de Login</h2>
		</div>
		<div class="login-body">
			<form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
				<p class="error" *ngIf="error">Credenciais inválidas!</p>
	            <mat-form-field>
					<input matInput placeholder="Usuário" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required>
				</mat-form-field>
				<mat-form-field>
					<input matInput type='password' placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
				</mat-form-field>
				<div class="login-form-buttons">
					<button [routerLink]="['/']" mat-raised-button class="login-button" [disabled]="loading"> 
		                <mat-icon>open_in_browser</mat-icon> Login
		            </button>
		            <button [routerLink]="['/register']" mat-raised-button class="register-button"> 
		                <mat-icon>person_add</mat-icon> Registrar
		            </button>
		        </div>
		    </form>    
		</div>	
	</div>
</div>

